@font-face {
  font-family: 'SVN-Aguda';
  src: url("./SVN-Aguda\ Black.otf") format("opentype");
}

@font-face {
  font-family: 'MBFVietnam';
  font-weight: bold;
  src: url("./DFVN\ MBF\ Space\ Habitat\ Regular.otf") format("opentype");
}

.timeline img {
  max-width: 100%;
}


.ag-section {
  padding-top: 10px;
}

.ag-format-container {
  width: 99%;
  margin: 0 auto;

  position: relative;
}

.ag-timeline-block {
  padding: 20px 0;
}
.ag-timeline_title-box {
  padding: 0 0 10px;

  text-align: center;
}
.ag-timeline_tagline {
  font-family: "MBFVietnam";
  font-size: 40px;
  color: rgb(255, 255, 255);
}
.ag-timeline_title {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  font-size: 80px;
}

.ag-timeline_item {
  margin: 0 0 50px;

  position: relative;
  left: 20%;
  width: 60%;
}


.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  position: relative;
}
.ag-timeline_line {
  width: 2px;
  background-color: #393935;

  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;

  overflow: hidden;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: #C58D1C;
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}
.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -28px;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -28px 0 14px;
}
.ag-timeline-card_point {
  height: auto;
  line-height: 50px;
  width: 70px;
  border: 3px solid rgb(255, 255, 255);
  background-color: #360067;

  text-align: center;
  font-family: 'SVN-Aguda', sans-serif;
  font-size: 20px;
  color: #FFF;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.js-ag-active .ag-timeline-card_point {
  color: #1d1d1b;
  background-color: #C58D1C;
}
.ag-timeline-card_meta-box {
  display: inline-block;
  position: relative;
}

.ag-timeline-card_meta-box-left {
  left: 10%;
}


.ag-timeline-card_meta-box-right {
  right: 5%;
}

.ag-timeline-card_meta {
  margin: 10px 0 0;

  font-family: 'SVN-Aguda', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
}
.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: #282828;
  opacity: 0;
  border-radius: 6px;
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  transition: transform .5s, opacity .5s;
  position: relative;
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {

  transform: translateX(-200%);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {

  transform: translateX(200%);
}
.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;

  transform: translateX(0);
}
.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: #282828;

  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;

  transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: calc(-18px / 2);
  margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;

  right: auto;
  left: 0;
}
.ag-timeline-card_img {
  width: 100%;
}
.ag-timeline-card_info {
  width: 100%;
  display: inline-block;
  padding: 20px 30px;
}
.ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;

  font-family: 'SVN-Aguda', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #fff;
}
.ag-timeline-card_desc {
  line-height: 1.45;

  font-size: 16px;
  color: #FFF;
}


@media only screen and (max-width: 979px) {

  .ag-timeline_tagline {
    font-size: 30px;
    font-family: "MBFVietnam";
  }

  .timeline img {
    max-width: 100%;
  }

  .ag-timeline-card_title {
    font-size: 16px;
    color: #fff;
  }

  .ag-timeline_item {
    position: relative;
    left: -3%;
    width: 100%;
    font-size: 16px;
  }

  .ag-timeline_line {
    left: 30px;
  }

  .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }

  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .ag-timeline-card_meta-box {
    display: none;
  }
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .ag-timeline-card_point {
    width: 60px;
    height: auto;
    line-height: 50px;
  }
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    transform: translateX(200%);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .ag-timeline-card_title {
    display: block;
  }
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }

  .swiper-slide .timeline-1 p {
    font-size: 21px;
  }
}

@media only screen and (max-width: 767px) {

  .ag-timeline_tagline {
    font-size: 22px;
  }

  .timeline img {
    max-width: 100%;
  }

  .ag-format-container {
    width: 96%;
  }

  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }

  .swiper-slide .timeline-1 p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 339px) {

  /* .timeline img {
    max-width: 60%;
  }

  .ag-timeline_title {
    font-size: 60px;
  }

  .ag-timeline-card_info {
    padding: 10px 15px;
    width: 100%;
  }
  .ag-timeline-card_desc {
    position: relative;
    font-size: 14px;
  } */

  .ag-timeline_tagline {
    font-size: 10px;
  }

  .timeline img {
    /* max-width: 70%; */
  }

  .ag-format-container {
    width: 96%;
  }

  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }

}

@media only screen and (max-width: 479px) {

}

/* @media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 100%;
  }

} */

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}